:local(.component) {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    width: 500px;
}

:local(.mainTable) {
    overflow-x: auto;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

:local(.mainTable)th {
    border: 2px dashed black;
    padding: 10px;
}

:local(.mainTable) td {
    padding: 8px;
}

:local(.mainTable) thead th:nth-child(odd) {
    background-color: #c4c4c4;
}

:local(.mainTable) tr:nth-child(even) {
    background-color: #c4c4c4;
}
